// pricipal
$backgroundColor: #EFEFEF
$fontColorPpal: #1b1717
$fontColorSecond: #810000
$hoverFontColor: #ce1212

// dark
$backgroundColor--dark: #2C2E43 
$fontColorPpal--dark: #f6e5e9
$fontColorSecond--dark: #a14c64
$hoverFontColor--dark: #FFD523